-
  var scheme = {
    header: 'Схема работы: несколько шагов для реализации архитектурного проекта',
    items: [
      {
        header: 'Оставьте заявку',
        text: 'Опишите задачу и расскажите, каким вы видите результат проектных работ. Если есть планировки и примеры интересных архитектурных или дизайнерских решений – отправьте их нам.',
        button: { href: '#callback', text: 'Оставить заявку' }
      },
      {
        header: 'Получите бесплатную консультацию',
        text: 'По электронной почте ответим на все интересующие вопросы по поставленной задаче.',
      },
      {
        header: 'Встретьтесь со специалистом',
        text: 'Согласуйте удобное время для визита и обсуждения проекта, сотрудник архитектурного бюро расскажет о нюансах.',
      },
      {
        header: 'Оценим стоимости проекта',
        text: 'Вы получите подробное предложение, в котором будут указаны объемы, сроки и бюджет, рекомендуемая схема организации строительства.',
      },
      {
        header: 'Обсудим детали',
        text: 'Составим техническое задание и подготовим документацию для подписания договора.',
      },
      {
        header: 'Заключим договор',
        text: 'Условия прозрачны, аванс выплачивается по каждому этапу проектных работ.',
      },
      {
        header: 'Проведем замеры',
        text: 'Учитываем особенности помещения – это позволит правильно составить планировку и не упустить ни одной детали.',
      },
      {
        header: 'Разработаем планировочное решение',
        text: 'И рабочие (строительные) чертежи.',
      },
      {
        header: 'Сделаем 3D-визуализацию',
        text: 'Вы увидите, каким будет результат проектных работ.',
      },
      {
        header: 'Подготовим спецификации мебели, предметов интерьера, отделочных материалов',
        text: 'С точным количеством и общей стоимостью.',
      },
      {
        header: 'Строительство, ремонт, комплектация и авторский надзор',
        text: 'Подготовим спецификации мебели, предметов интерьера, отделочных материалов',
      },
    ],
  }

.scheme#scheme
  .container
    h2.scheme__header !{scheme.header}
    .scheme-items
      each item in scheme.items
        .scheme__item
          p.scheme__item-header !{item.header}
          p.scheme__item-text !{item.text}
          if item.button
            a.scheme__item-button.btn(href=item.button.href) !{item.button.text}
